.nav-home {
    font-weight: 400;
}

.nav-projects {
    font-weight: 400;
}

.nav-services {
    font-weight: 1000;
}  

#contact-us-page {
    height: fit-content;
    width: 100vw;
}

.contact-us-title {
    padding-left: 170px;
    padding-right: 170px;
    font-size: 60px;
    font-weight: bold;
    line-height: auto;
    margin: 0;
    margin-bottom: 40px;
}

.contact-us-form {
    padding-left: 170px;
    padding-right: 170px;
}

.contact-us-form label {
    font-size: 20px;
    color: #6B708D;
    line-height: 150%;
}

.contact-us-form span {
}

.contact-us-form input {
    height: 70px;
    width: 100%;
    border: transparent;
    color: #6B708D;
    background-color: #6B708D22;
    font-size: 17px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.contact-us-form input:invalid + span::after{
    position: relative;
    content: "*";
    padding-left: 5px;
    color: #6B708D;
}

.contact-us-form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border: transparent;
    color: #6B708D;
    background-color: #6B708D22;
    font-size: 17px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.two-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.input-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#form-submit {
    background-color: #072AC8;
    color: white;
    font-size: 17px;
    width: 100%;
    cursor: pointer;
}

#form-submit:hover {
    text-decoration: underline;
}

#warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(230, 63, 63);
    font-size: 17px;
    line-height: 150%;
    margin: 10px;
}


@media screen and (max-width: 464px) {
    .contact-us-title {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 40px;
        font-weight: bold;
        line-height: auto;
        margin: 0;
        margin-bottom: 40px;
    }
    
    .contact-us-form {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .contact-us-form label {
        font-size: 20px;
        color: #6B708D;
        line-height: 150%;
    }
    
    .contact-us-form span {
    }
    
    .contact-us-form input {
        height: 70px;
        width: 100%;
        border: transparent;
        color: #6B708D;
        background-color: #6B708D22;
        font-size: 17px;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        margin-bottom: 40px;
    }
    
    .contact-us-form textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border: transparent;
        color: #6B708D;
        background-color: #6B708D22;
        font-size: 17px;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 40px;
    }
    
    .two-inputs {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        column-gap: 40px;
    }
    
    .input-column{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    #form-submit {
        background-color: #072AC8;
        color: white;
        font-size: 17px;
        width: 100%;
    }
    
}