body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

/* --------- Space Section ------------*/

.space-section {
    width: 100%;
    height: 30px;
}

.space-section-aux {
    width: 100%;
    height: 100px;
}

/* --------- Header Section -----------*/

#header-section {
    height: 122px;
    padding-left: 170px;
    padding-right: 170px;
}

.nav-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-mobile {
    display: none;
}

.navCircleLogo {}

.nav-menu {
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.nav-menu a {
    font-size: medium;
    color: #072AC8;
    text-decoration: none;
}

.nav-home {
    font-weight: 1000;
}

.blue-btn {
    border: 0px solid transparent;
    background-color: #072AC8;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 36px;
    padding-right: 36px;
    font-size: medium;
}

.blue-btn:hover {
    text-decoration: underline;
}

.transparent-btn {
    border: 0px solid transparent;
    background-color: transparent;
    color: #6B708D;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 36px;
    padding-right: 36px;
    font-size: medium;
}

.transparent-btn:hover {
    text-decoration: underline;
}

/* --------- Hero Section -----------*/

#hero-section {
    height: 650px;
    display: block;
    padding-left: 170px;
    padding-right: 170px;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 570px;
}

.hero-image-wrapper {
    background-image: url("../img/hero-section/hero-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2;
    grid-row: 1;
    display: block;
    position: relative;
}

.hero-image-wrapper .card-1 {
    position: absolute;
    display: inline-block;
    left: -5em;
    top: -2em;
    height: 380px;
    width: 360px;
}

.hero-image-wrapper .card-2 {
    position: absolute;
    display: inline-block;
    height: 360px;
    width: 350px;
    right: -4.9em;
    bottom: -7.5em;
}

.hero-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 650px;
    grid-column: 1;
    grid-row: 1;
    padding-right: 10px;
}

.hero-btns-wrapper {
    margin-top: 20px;
}

.hero-info-wrapper h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.hero-info-wrapper p {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* --------- Client Section -----------*/

#client-section {
    display: block;
    height: 100px;
    width: 100%;
}

.client-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 170px;
    padding-right: 170px;
    align-items: center;
}

.clients-logo {
    filter: grayscale(100%);
    transform: scale(0.8);
}

/* --------- Recent Projects Section -----------*/

.index-subtitle {
    font-size: 40px;
    font-weight: bold;
}

.pc-image-wrapper {
    height: 240px;
    padding: 0;
}

.pc-image {
    width: 100%;
    height: 100%;
}

.card-title-wrapper {
    height: 204px;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* --------- Cards -----------*/

.cards-sections {
    display: block;
    height: 100px;
    padding-left: 170px;
    padding-right: 170px;
    height: fit-content;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    background-color: white;
    box-shadow: 0px 4px 15px 0px #0002;
    width: 340px;
    height: 444px;
    overflow: auto;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

.service-card {
    background-color: white;
    box-shadow: 0px 4px 15px 0px #0002;
    width: 340px;
    height: 380px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow: auto;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 24px;
    margin: 0;
    padding-top: 30px;
}

.card-link {
    padding-bottom: 30px;
    text-decoration: none;
    text-decoration: none;
    color: #072AC8;
}

.card-info {
    font-size: 20px;
    line-height: 150%;
    font-weight: 300;
}

/* --------- Testimonial Section -----------*/

#testimonial-section {
    height: 630px;
    margin-left: 30px;
    margin-right: 30px;
}

.testimonial-black-bg {
    height: 100%;
    background-color: #292E47;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.testimonial-black-bg h3 {
    color: white;
    font-size: 40px;
    display: flex;
    text-align: center;
    padding: 40px;
}

.testimonial-black-bg p {
    color: #FFC600;
    font-size: 24px;
    display: flex;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

.memoji1 {
    width: 150px;
    position: absolute;
    top: 30px;
    left: 100px;
}

.memoji2 {
    width: 150px;
    position: absolute;
    top: 30px;
    right: 100px;
}

.memoji3 {
    width: 150px;
    position: absolute;
    bottom: 30px;
    left: 100px;
}

.memoji4 {
    width: 150px;
    position: absolute;
    bottom: 30px;
    right: 100px;
}

.client-info-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 40px;
    padding: 40px;
}

.rounded-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.client-name {
    color: #A2D6F9;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-website {
    color: #F4F6FC;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* --------- Services Section -----------*/

.service-img-wrapper {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECF7FF;
    border-radius: 50%;
}

.service-img {
    height: 40px;
    width: 40px;
}

.bottom {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
    text-decoration: none;
    color: #072AC8;
}

@media screen and (max-width: 464px) {
    body {
        padding: 0;
        margin: 0;
    }

    /* --------- Header Section -----------*/
    #header-section {
        height: 100px;
        margin: 0;
        padding: 0;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar-mobile {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .nav-first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-second-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu {
        width: 60vw;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        text-decoration: none;
    }

    .blue-btn {
        border: 0px solid transparent;
        background-color: #072AC8;
        color: white;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        padding-left: 18px;
        padding-right: 18px;
        font-size: small;
    }

    .transparent-btn {
        border: 0px solid transparent;
        background-color: transparent;
        color: #6B708D;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        padding-left: 18px;
        padding-right: 18px;
        font-size: small;
    }

    /* --------- Hero Section -----------*/

    #hero-section {
        height: 444px;
        width: 100%;
        padding: 0;
    }

    .hero-wrapper {
        display: grid;
        grid-template-rows: 80vw 80vw;
        grid-template-columns: 1fr;
    }

    .hero-info-wrapper {
        grid-row: 2;
        display: flex;
        height: 100%;
        margin-top: 60px;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-info-wrapper h1 {
        font-size: 25px;
        font-weight: bold;
        margin: 0;
        display: block;
        text-align: center;
    }

    .hero-info-wrapper p {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        display: block;
        text-align: center;
    }

    .hero-image-wrapper {
        background-image: url("../img/hero-section/hero-image.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        grid-row: 1;
        grid-column: 1;
        display: block;
        position: relative;
    }

    .hero-image-wrapper .card-1 {
        position: absolute;
        display: inline-block;
        left: 0em;
        top: -1em;
        height: 200px;
        width: 180px;
    }

    .hero-image-wrapper .card-2 {
        position: absolute;
        display: inline-block;
        height: 190px;
        width: 180px;
        right: 0em;
        bottom: -5em;
    }

    /* --------- Client Section -----------*/
    #client-section {
        display: none;
    }

    /* --------- Recent Projects Section -----------*/

    .index-subtitle {
        font-size: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pc-image-wrapper {
        height: 240px;
        padding: 0;
    }

    .pc-image {
        width: 100%;
        height: 100%;
    }

    .pc-info-wrapper {
        height: 204px;
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



    /* --------- Cards -----------*/

    .cards-sections {
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
        padding-left: 20px;
        padding-right: 20px;

    }

    .cards-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        background-color: white;
        margin: 0;
        margin-bottom: 20px;
        box-shadow: 0px 4px 15px 0px #0002;
        width: 80vw;
        height: 444px;
    }

    .service-card {
        background-color: white;
        box-shadow: 0px 4px 15px 0px #0002;
        width: 80vw;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 20px;
    }

    .card-title {
        font-size: 24px;
        margin: 0;
        padding-top: 30px;
    }

    .card-info {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 150%;
    }

    .card-link {
        font-size: 13px;
        text-decoration: none;
        color: #072AC8;
        padding-bottom: 30px;
    }

    /* --------- Testimonial Section -----------*/

    #testimonial-section {
        height: fit-content;
        width: 100vw;
        margin: 0;
        padding: 0;
        border: 0px;
    }

    .testimonial-black-bg {
        width: 100%;
        height: 100%;
        background-color: #292E47;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .testimonial-black-bg h3 {
        color: white;
        font-size: 40px;
        display: flex;
        text-align: center;
        padding: 40px;
    }

    .testimonial-black-bg p {
        color: #FFC600;
        font-size: 24px;
        display: flex;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    .memoji1 {
        width: 150px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .memoji2 {
        width: 150px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .memoji3 {
        width: 150px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .memoji4 {
        width: 150px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .client-info-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 40px;
        padding: 40px;
    }

    .rounded-img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .client-name {
        color: #A2D6F9;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .client-website {
        color: #F4F6FC;
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    /* --------- Services Section -----------*/

    .service-img-wrapper {
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ECF7FF;
        border-radius: 50%;
    }
    
    .service-img {
        height: 40px;
        width: 40px;
    }
    
    .bottom {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        text-decoration: none;
        align-items: flex-end;
    }
}